.card {
  padding: 20px;
  border-radius: 20px;
  background: linear-gradient(135deg, #111827, #1f2937);
  color: #fff;
  margin-bottom: 24px;
}

.label {
  font-size: 13px;
  color: #facc15;
  margin-bottom: 8px;
}

.city {
  font-size: 24px;
  margin-bottom: 8px;
}

.temp {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 8px;
}
.text {
  font-size: 14px;
  color: #d1d5db;
}
