.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input,
.textarea {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  font-size: 16px;
  background-color: #fff;
}

.textarea {
  min-height: 120px;
  resize: vertical;
}

.addButton {
  align-self: flex-end;
  padding: 10px;
  border-radius: 8px;
  margin: 10px;
}
